* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

/* HEADER */
.header {
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

/* SECTIONS */
section {
    background: white;
    margin: 25px;
    padding: 30px;
    border-radius: 10px;
}

/* ABOUT */
.about {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about img {
    width: 150px;
    height: 180px;
    border-radius: 8px;
    border: 2px solid #ccc;
}

.about-text h2 {
    margin-bottom: 10px;
}

/* SKILLS */
.skills ul {
    list-style: none;
}

.skills li {
    background: #e6e6e6;
    margin: 8px 0;
    padding: 10px;
    border-radius: 6px;
}

/* FOOTER */
.footer {
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
